body{
    background-color: #121619;
}

h1{
    font-weight: normal !important;
    font-family: sans-serif;
    font-size: 80px !important;
}

h2{
    font-family: serif;
    text-decoration: underline;
    color: #236E7A !important;
}

h3{
    font-weight: normal !important;
    font-family: sans-serif;
    font-size: 20px !important; 
}

p {
    font-family:sans-serif;
    font-weight: 500;
    text-align: left;
    color: rgb(255, 255, 255);
}

.big-header {
    background-color:#D9D9D9;
    padding-top: 20px;
    padding-bottom: 20px;


}

.big-header h1 {
    color:black;
    text-align: center;
    font-family: serif;
    font-size: 96px;
    font-weight: 400;
    line-height: normal;
}

.navbar {
    background-color: #236E7A !important;
}

.nikolas{
     text-align: center;
    font-family:sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 20px !important; 

}

.openAI {
    text-align: center;
    font-family:sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    opacity: 0.55;
}

.name-mathilde {
    color: #D9D9D9;
    font-family: serif;
    font-size: 25px;
}

.name-lewis {
    color: #121619;
    font-family: serif;
    font-size: 25px;
}

.small-text {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.special {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

.text-box {
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(180deg, #236E7A 0%, #121619 100%);
}

h4 {
    font-family: serif;
    color: #236E7A;
    text-align: center;
    text-decoration: underline;
}

.col-md-4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.text-box2 {
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(180deg, #236E7A 0%, #121619 100%);
}

.img-right { 
    margin-top: -50px !important; /* lowers far right image slightly to match far left one*/
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; /* ensures padding doesn't break layout */
}

@media (min-width: 1200px) {
    .container{
        max-width: 2000px;
    }
}

/* for phones layout */
@media (max-width:480px){
    h1{
        font-size: clamp(1.5rem, 5vw, 3rem);
}
    h2{
        font-size: clamp(1.2rem, 4vw, 2.5rem);
    }
    h4{
        font-size: clamp(1rem, 3vw, 1.8rem);
    }
}


 