body{
    background-color: #F2DCC2;
    margin: 0;
    color: black;
}

.logo {
    height: 150px;
    width: auto;
}

.move-up{
    position: relative;
    top: -90px;
    right: 80px;
}

.half-row{
    height: 60vh;
}

.move-up li {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar {
    background-color: #401b06 !important;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  
}

.navbar-brand{
    font-size: 20px;
}

.nav-link {
    white-space: nowrap; 
    color: white;
}

.intro {
    font-size: 30px;
}

.button-scroll-down {
    padding: 50px;
    background-color: #F2B84B;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    border: none;  
    transition: background-color 0.3s ease;
}

.button-scroll-down:hover {
    background-color: #ebab22; 
}

.button-scroll-down:focus {
    outline: none !important;
    box-shadow: none !important;
}

.custom-img {
  width: 100%;        
  height: auto;
  clip-path: circle(35%);
  shape-outside: circle(35%);
  object-fit: cover;   /* ensures image fills the circle nicely */
}

.bridge-img {
    padding: 20px;
    padding-bottom: 80px;
    width: 2000px;  
    height: auto; 
    
}

.circle-img{
    width: 250px;
    height: 250px;
    object-fit: cover; /*fills entire circle*/
    border-radius: 50%; /*creates circle*/
}

.circle-middle{
width: 350px;
height: 350px;
}

.menu_image{
    width: 100%;
    text-align: center;
    align-content: center;
}

.menu_image img {
    width: 800px; 
    height: auto; 
    padding: 10px;
    padding-top: 80px;

}

h1{
    font-weight: normal !important;
    font-family: sans-serif;
    font-size: 80px ;
}

html{
    scroll-behavior: smooth;
}




/*shrink on phones */
@media (max-width: 576px) {
  
  .circle-middle {
    width: 300px;
    height: 300px;
  }
}

h2{
    font-family: serif;
    text-decoration: underline;
    color: #236E7A !important;
}

.text-lower {
    margin-top: 250px;
}

p {
    font-family:sans-serif;
    font-weight: 500;
    text-align: left;
    color:black;
}

.big-header h1 {
    color:black;
    text-align: center;
    font-family: serif;
    word-wrap: break-word;  
    overflow-wrap: break-word;
    white-space: normal;
    margin: 0 auto;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    
}



.nikolas{
     text-align: center;
    font-family:sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 20px !important; 

}

.openAI {
    text-align: center;
    font-family:sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    opacity: 0.55;
}

.small-text {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.special {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

.text-box {
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(180deg, #236E7A 0%, #121619 100%);
}

h4 {
    font-family: serif;
    color: #236E7A;
    text-align: center;
    text-decoration: underline;
}

.col-md-4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.text-box2 {
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(180deg, #236E7A 0%, #121619 100%);
}

.img-right { 
    margin-top: -50px !important; /* lowers far right image slightly to match far left one*/
}

.container {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; /* ensures padding doesn't break layout */
}

@media (min-width: 1200px) {
    .container{
        max-width: 2000px;
    }
}

/* for phones layout */
@media (max-width:480px){
    .big-header h1 {
        font-size: clamp(1.5rem,5vw,3rem);
    }
    h1{
        font-size: clamp(1.5rem, 5vw, 3rem);
}
    h2{
        font-size: clamp(1.2rem, 4vw, 2.5rem);
    }
    h4{
        font-size: clamp(1rem, 3vw, 1.8rem);
    }
}


 .left-side-subcontainer{
    padding: 20pt;
    align-content: center;

 }
  .right-side-subcontainer{
    padding: 20pt;
    text-align: right;

 }