body{
    background-color: #121619;
}

p {
    font-family:sans-serif;
    font-weight: 500;
    text-align: left;
    color: rgb(255, 255, 255);
}

.big-header {
    background-color:#D9D9D9;
    padding-top: 20px;
    padding-bottom: 20px;


}

.big-header h1 {
    color:black;
    text-align: center;
    font-family: serif;
    font-size: 96px;
    font-weight: 400;
    line-height: normal;
}

.navbar {
    background-color: #236E7A !important;
}

.name-mathilde {
    color: #D9D9D9;
    font-family: serif;
}

.name-lewis {
    color: #121619;
    font-family: serif;
}

.small-text {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.special {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

.text-box {
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(180deg, #236E7A 0%, #121619 100%);
}

h4 {
    font-family: serif;
    color: #236E7A;
    text-align: center;
}