body{
    background-color: #121619;
}

p {
    font-family:sans-serif;
    font-weight: 500;
    text-align: left;
    color: rgb(255, 255, 255);
}

.big-header {
    background-color:#D9D9D9;
    padding-top: 20px;
    padding-bottom: 20px;


}

.big-header h1 {
    color:black;
    text-align: center;
    font-family: serif;
    font-size: 96px;
    font-weight: 400;
    line-height: normal;
}

.navbar {
    background-color: #236E7A !important;
}

.name-mathilde {
    color: #D9D9D9;
    font-family: serif;
}

.name-lewis {
    color: #121619;
    font-family: serif;
}

.small-text {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.special {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: left;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

li {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.fave {
    color: orangered;
}

.pizza {
    width: 50%;
}

a {
    color: white;
}

/* Cake page */

.cake-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.section-one {
    border: 1px solid white;
    background-color: darkslateblue;
}

.caption {
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cake-item {
    width: 275px;
    height: 275px;
    padding: 4px;
}

.cake-group{
    width: 275px;
}